.App {
  text-align: center;
}


.header {
position: fixed;
line-height: 2rem;
top: 0;
display: grid;
background-color: rgb(50, 72, 73);
width: 100%;
gap: 1px;
  
}

.header h3 {
  color: chartreuse;
}

.header .div {
 display: inline-block;
 margin-bottom: 10px;
}

.header .div input {
  font-size: 1.1rem;
  border: none;
  border-radius: 1rem;
  padding: 6px 10px;
}

.header .div button {
  font-size: 1.2rem;
  margin-left: 8px;
}

.body {
  margin-left: 22rem;
  margin-right: 22rem;
  margin-top: 8rem;
}

.body ul {
  display: grid;
  gap: .8rem;
}

.div1 {
  display: flex;
align-items: center;
height: 3.6rem;
padding: 3px 1rem;
}

.div1 p {
  margin-right: 10px;
  font-size: 1.7rem;
}
.div1 h6 {
  margin-right: 10px;
  font-size: 1.5rem;
}





li{
  list-style-type: none;
}

.success {
  color: rgb(70, 99, 4);
  background-color: beige;
}

.warning {
  color: rgb(143, 6, 6);
  background-color: blanchedalmond;
}

#comp {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: whitesmoke;
  color: rgb(5, 102, 5);
  /* margin: auto; */
  font-size: 1.5rem;
  border: none;
}

#incomp {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: whitesmoke;
  color: rgb(238, 12, 12);
  /* margin: auto; */
  font-size: 1.5rem;
  border: none;
}



/* .div1 {
  right: 50%;
  margin-top: 6rem;
}
.div2 {
  background-color: blue;
left: 50%;
} */